*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Open Sans", sans-serif;
}

/* Header Section*/

.header-container{
    height: 92px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 92px;
}
.header-nav ul{
    display: flex;
    gap: 32px;
}
.header-nav li{
    list-style: none;
}
.header-nav a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.header-btn button{
    border: none;
    background-color: #30B868;
    width: 164px;
    height: 44px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}
.header-btn button:hover , .think-container button:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #30B868;
    cursor: pointer;
}
/* Banner Section*/

.banner-container{
    background-image: url(./assets/hero-bg.png);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.banner-info .banner-info-btn{
    color: #30B868;
    background-color: #fff;
    border-radius: 1000px;
    padding: 8px 12px;
    border: none;
    font-size: 16px;
    margin-bottom: 16px;
}
.banner-btn .banner1:hover{
    background-color: transparent;
    border: 2px solid #30B868;
    cursor: pointer;
}
.banner-info h1{
    color: #fff;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-info h1 span{
    color: #30B868;
}
.banner-info-btn i{
    font-size: 10px;
    margin-bottom: 3px;
}
.banner-info{
    text-align: center;
}
.banner-info p{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
}
.banner-btn .banner1{
    background-color: #30B868;
    color: #fff;
    width: 200px;
    height: 52px;
    border: none;
    border-radius: 4px;
}
.banner-btn .banner2{
    background-color: transparent;
    color: #fff;
    width: 200px;
    height: 52px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.banner-btn .banner2:hover{
    background-color: #30B868;
    border: 2px solid #30B868;
    cursor: pointer;
}
/* Fail Section*/

.fail-container{
    text-align: center;
}
.fail-container .fail-heading{
    padding-top:40px ;
}
.fail-container .fail-heading h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.fail-container .fail-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

.fail-container .fail-cards{
    display: flex;
    justify-content: space-around;
    padding: 100px 144px;
    
}
.fail-container .fail-card{
    padding: 24px;
    border-radius: 8px;
    margin-right: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fail-container .fail-cards img{
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 16px;
}
.fail-cards h3{
    font-size: 19px;
    font-weight: 600;
}
.fail-card p{
    font-size: 12px;
    font-weight: 400;
    margin-top: 16px;
}

/* Solution Section*/

.solution-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding :0 120px;
}
.solution-container .solution-img img{
    height: 600px;
}

.solution-container .solution-info span{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
.solution-container .solution-info h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.solution-container .solution-info p{
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 40px;
    color: #627382;
}
.solution-container .solution-info .info-checks .info-check{
    display: flex;
    gap: 6px;
}
.solution-container .solution-info .info-checks .info-check i{
    color: green;
}
.solution-container .solution-info .info-checks .info-check p{
    color: #001931;
    font-size: 16px;
    font-weight: 500;
}

/* Think Section*/

.think{
    text-align: center;
    margin: 120px;
}
.think-container {
    padding: 80px 40px;
    background-color: #F7F6F2;
    border-radius: 12px;
}
.think-container button{
    display: block;
    margin: 0 auto;
    width: 194px;
    height: 52px;
    border: none;
    background-color: #30B868;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}
.think-container h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.think-container span{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
.think-container p{
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}

/* Footer Section*/

.footer-top{
    padding: 120px;
    display: flex;
    justify-content: space-between;
    background-color: #001931;
}
.footer-top img{
    height: 60px;
}
.footer-top .footer-top-right p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 16px;
}
.footer-top .footer-top-right .social-icons i{
    color: #fff;
    margin-right: 16px;
    cursor: pointer;
}
.footer-bottom{
    background-color: #001931;
    padding-bottom: 30px;
}
.footer-bottom p{
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.footer-bottom .divider{
    border-top: 1px solid #627382;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
